.containerAbout {
    margin-left: initial;
    height: 750px;
    position: relative;
    text-align: left;
}
.containerAbout div {
    padding: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}
body.dark-theme .containerAbout p,
.containerAbout p {
    margin-bottom: 15px;
    line-height: 1.6;
    white-space: pre-line;
    color: antiquewhite;
    font-size: 25px;
    font-family: Cambria, Georgia, serif;
}
body.light-theme .containerAbout p {
    margin-bottom: 15px;
    line-height: 0.5;
    white-space: pre-line;
    color: #1A1A19;
    font-size: 25px;
    font-family: Cambria, Georgia, serif;
}
body.dark-theme .containerAbout p:hover,
.containerAbout p:hover {
    color: pink;
    transition: all 200ms;
    transform: scale(1.1);
}
body.light-theme .containerAbout p:hover {
    color: pink;
    transition: all 200ms;
    transform: scale(1.1);
}
body.dark-theme .containerAbout p:first-child,
body.light-theme .containerAbout p:first-child,
.containerAbout p:first-child {
    margin-top: 0;
    font-weight: initial;
    font-size: 50px;
}

.containerAbout p:last-child {
    margin-bottom: 0;
    font-size: 25px;
}
