.container {
    max-width: 1300px !important;
    margin: 0 auto;
    position: relative;
}
.picture-container {
    display: flex;
    align-items: center;
    position: relative;
}
.home-info {
    flex: 1;
    margin-left: 10rem;
}
.home-info .h1 {
    font-size: 50px;
    font-weight: bolder;
    color: antiquewhite;
}

.home-info .p {
    font-size: 30px;
    color: antiquewhite;
}

body.light-theme .h1,
body.light-theme .p{
    color: #1E1E1D; /* Light theme için metin rengi */
}

/* Dark Theme */
body.dark-theme .h1,
body.dark-theme  .p{
    color: antiquewhite; /* Dark theme için metin rengi */
}


.home-info .h1:hover{
    color: pink;
    transform: translateY(6px);
    transition: all 200ms;
}

.home-info .p:hover{
    color: pink;
    transform: scale(1.1); /* Resmi 1.1 kat büyütür */
    filter: blur(1px);
    transition: transform 0.3s ease, filter 0.3s ease; /* Geçiş süresi ve efekt türü ayarlanır */
}
.picture {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    filter: blur(0.8px);
}
.picture:hover {
    transform: scale(1.2); /* Resmi 1.1 kat büyütür */
    transition: transform 0.3s ease, filter 0.3s ease; /* Geçiş süresi ve efekt türü ayarlanır */
    filter: none;
}

.picture > div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.picture > div >img {
    width: 375px; /* Genişlik */
    height: 500px; /* Yükseklik */
    border-radius: 10%; /* Yuvarlak kenarlar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}